:root {
  --background: rgba(246, 246, 244, 1);
  --water-shadow: rgba(181, 190, 191, 1);
  --waterway: rgba(202, 210, 211, 1);
  --water: rgba(202, 210, 211, 1);
  --building-outline: rgba(223, 223, 221, 1);
  --building: rgba(233, 233, 231, 1);
  --road-street-low: rgba(255, 255, 255, 0);
  --road-street-case: rgba(232, 237, 235, 1);
  --road-secondary-tertiary-case: rgba(232, 237, 235, 1);
  --road-path: rgba(255, 255, 255, 1);
  --road-street: rgba(255, 255, 255, 1);
  --road-secondary-tertiary: rgba(255, 255, 255, 1);
  --bridge-primary-secondary-tertiary-case: rgba(232, 237, 235, 1);
  --bridge-primary-secondary-tertiary: rgba(255, 255, 255, 1);
  --bridge-rail: rgba(232, 237, 235, 1);
  --road-label: rgba(107, 107, 107, 1);
  --parks: rgba(26, 26, 26, 0.05);
  --road-main-case: rgba(230, 230, 230, 1);
  --road-primary-case: rgba(230, 230, 230, 1);
  --road-motorway-link-case: rgba(230, 230, 230, 1);
  --road-motorway-link: rgba(26, 26, 26, 1);
  --road-primary: rgba(26, 26, 26, 1);
  --bridge-secondary-tertiary-case: rgba(230, 230, 230, 1);
  --bridge-primary-case: rgba(230, 230, 230, 1);
  --bridge-secondary-tertiary: rgba(26, 26, 26, 1);
  --bridge-primary: rgba(26, 26, 26, 1);
  --road-label-medium: rgba(26, 26, 26, 1);
  --road-label-large: rgba(26, 26, 26, 1);
  --rail-station-label: rgba(26, 26, 26, 1);
  --place-town: rgba(26, 26, 26, 1);
  --x-1: rgba(27, 204, 243, 1);
  --x-2: rgba(19, 25, 31, 1);
  --x: rgba(228, 228, 228, 1);
  --road-label-font-family: "Inter", Helvetica;
  --road-label-font-weight: 400;
  --road-label-font-size: 15.73046588897705px;
  --road-label-letter-spacing: 0px;
  --road-label-line-height: normal;
  --road-label-font-style: normal;
  --road-label-medium-font-family: "Inter", Helvetica;
  --road-label-medium-font-weight: 400;
  --road-label-medium-font-size: 11.521721839904785px;
  --road-label-medium-letter-spacing: 0px;
  --road-label-medium-line-height: normal;
  --road-label-medium-font-style: normal;
  --road-label-large-font-family: "Inter", Helvetica;
  --road-label-large-font-weight: 400;
  --road-label-large-font-size: 12.958476066589355px;
  --road-label-large-letter-spacing: 0px;
  --road-label-large-line-height: normal;
  --road-label-large-font-style: normal;
  --rail-station-label-font-family: "Inter", Helvetica;
  --rail-station-label-font-weight: 400;
  --rail-station-label-font-size: 11.070645332336426px;
  --rail-station-label-letter-spacing: 0px;
  --rail-station-label-line-height: normal;
  --rail-station-label-font-style: normal;
  --place-town-font-family: "Inter", Helvetica;
  --place-town-font-weight: 400;
  --place-town-font-size: 19.423873901367188px;
  --place-town-letter-spacing: 0px;
  --place-town-line-height: normal;
  --place-town-font-style: normal;
  --1: 2px 2px 2px 0px rgba(0, 0, 0, 0.02);
}